@import "normalize.css";
/*** colores guardados en variables ***/

:root {
  --fondo-claro: #838179;
  --fondo-oscuro: #272624;
  --color-primario-claro: #F4E742;
  --color-primario-oscuro: #D9CE3F;
  --color-secundario-claro: #F14E2D;
  --color-secundario-oscuro: #C13F24;
  --color-blanco: #fff;
}

body {
  background-color: var(--fondo-oscuro);
  color: var(--color-blanco);
  font-size: 16px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 2.5rem;
  box-sizing: border-box;
}