.pokemon-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pokemon-card {
  list-style: none;
  padding: 52px;
  text-align: center;
}

.button {
  visibility: hidden;
}