/* Se centra el Header y el subtitulado es mandado abajo del título */

@import "pokeball.css";
header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-title {
  margin-right: 5rem;
  padding-bottom: 0;
}

.pokemon-subtitle {
  margin: -3.75rem 37.5rem 0 7.5rem;
}

@media (max-width:48rem) {
  header {
    display: flex;
    flex-direction: column;
  }
  .pokemon-title {
    margin: 0 auto;
  }
  .pokemon-subtitle {
    margin: 0 auto;
  }
}