.pokemon-button {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 1.25rem;
  visibility: hidden;
  background-color: var(--color-secundario-claro);
  color: var(--color-blanco);
  border-radius: 1.25rem;
  font-weight: bold;
  margin-left: 5px;
}

@media (max-width:48rem) {
  .pokemon-button {
    flex-direction: column;
    margin: auto;
    width: 50vw;
  }
  .button {
    height: 3.125rem;
    margin-top: 0.625rem;
  }
}