@import "buttons.css";
@import "spinner.css";
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-card {
  list-style: none;
  padding: 2.8125rem;
  text-align: center;
}