@import "buttons.css";
@import "spinner.css";
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-card {
  list-style: none;
  padding: 3.125rem;
  text-align: center;
}

@media (max-width:48rem) {
  .pokemon-card {
    padding: 4.0625rem
  }
}