.spinner-container {
  position: fixed;
  background-color: var(--fondo-oscuro);
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  transition: all 2.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 0.25rem solid var(--fondo-claro);
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  border-left-color: var(--color-secundario-oscuro);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}